<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow">
        <img [src]="'/assets/' + eventos[indice]?.img"
             class="card-img-top"
             [alt]="eventos[indice].nombre"
             style="height: 350px; object-fit: cover;">

        <div class="card-body text-center">
          <h2 class="card-title text-uppercase">{{ eventos[indice].nombre }}</h2>
          <p class="card-text text-muted">{{ eventos[indice].descripcion }}</p>

          <div class="d-flex justify-content-between align-items-center mt-4">
            <button (click)="anterior()" class="btn btn-dark btn-lg">
              <i class="bi bi-arrow-left"></i> Anterior
            </button>

            <span class="badge rounded-pill bg-dark">
              <!--{{ indice + 1 }} / {{ eventos.length }}-->
            </span>

            <button (click)="siguiente()" class="btn btn-dark btn-lg">
              Siguiente <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

  
</div>
